:root {
  --main-font-color: #ffecef;
  --secondary-font-color: #ffcaca;
  --main-color: #372948;
  --background-color: #251b37;
}
body {
  background: var(--background-color);
}
h1 {
  font-size: 90px;
  color: var(--main-font-color);
}
h2 {
  color: var(--secondary-font-color);
}
h3 {
  text-align: center;
  font-size: 50px;
  color: var(--main-font-color);
}
h4 {
  color: var(--main-font-color);
  font-size: 40px;
}
hr {
  color: white;
}
p {
  color: var(--secondary-font-color);
}
nav i {
  color: var(--main-font-color);
}
nav ul {
  margin: 0;
  padding: 30px 80px;
  background: var(--main-color);
}
nav li {
  font-size: 18px;
  display: inline;
  margin-left: 40px;
}
nav a {
  color: var(--secondary-font-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  font-weight: bolder;
  color: var(--secondary-font-color);
}

.hero {
  padding: 40px 10px 10px;
}
.weather-container {
  text-align: center;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  margin: 30px;
  border-radius: 4px;
  padding: 30px 150px;
}

.weather-container h4 {
  font-size: 30px;
}
.weather-container img {
  margin: 0 auto;
}

.button {
  border: 1px solid var(--main-font-color);
  padding: 10px 30px;
  border-radius: 4px;
  background: var(--main-font-color);
  text-decoration: none;
  color: var(--background-color);
}
.button:hover {
  background: var(--secondary-font-color);
  color: var(--background-color);
  transition: all 100ms ease-in-out;
}

.about-hero {
  padding: 100px;
}
.about-hero h1 {
  font-size: 50px;
  text-align: center;
}
.contact-links h3 {
  font-size: 40px;
  text-align: left;
}
.contact-links a {
  text-decoration: none;
  color: var(--secondary-font-color);
}
.contact-links a:hover {
  color: var(--main-font-color);
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  border: 1px solid var(--main-color);
  background: var(--main-color);
  border-radius: 10px;
  padding: 30px 150px;
  margin: 30px;
}
footer .email-link {
  text-decoration: none;
  color: var(--main-font-color);
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--secondary-font-color);
}
footer .social-links a {
  margin: 0 20px;
  font-size: 24px;
  color: var(--background-color);
  background: var(--main-font-color);
  padding: 10px 16px;
  border-radius: 50%;
}
footer .social-links a:hover {
  color: var(--background-font-color);
  background: var(--secondary-font-color);
  transition: all 100ms ease-in-out;
}
footer p {
  font-size: 20px;
}

@media (max-width: 976px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 30px;
  }
  nav ul {
    padding: 30px 20px;
  }
  nav li {
    margin-left: 30px;
  }
  .hero {
    padding: 30px;
  }
  .weather-container {
    margin: 10px;
    padding: 10px;
  }
}
